.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-btn {
  font-family: 'Poppens', Sans-serif;
  font-weight: bold;
  color: white;
  margin: 0 20px;
  padding: 8px 15px;
  border-radius: .5rem;
  background-color: rgb(103, 55, 216);
  transition: 0.15s all ease-in-out;
  &:hover {
    background-color: rgb(60, 36, 148)
  }
  &:disabled {
    background-color: lightgray;
  }
}